@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

.ourcontact .allicons .icons i {
  color: #f9f9f9;
  cursor: pointer;
  -webkit-text-stroke: 0.1rem #18171e;
}

.ourcontact .allicons .icons i:hover {
  -webkit-text-stroke: 0.1rem #CF9FFF;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

html::-webkit-scrollbar {
  width: 2rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #CF9FFF;
  border-radius: 4rem;
}

body {
  background: #f9f9f9;
}

body.active {
  --black:$light-bg;
  --white:#111;
  --light-color:#aaa;
  --light-bg:#222;
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 20rem;
  background: #f9f9f9;
  cursor: pointer;
  color: #18171e;
  padding: 1rem 3rem;
  font-size: 2rem;
  -webkit-box-shadow: -1px -1px 2px #f9f9f9, -1px 0px 3px #f9f9f9, -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
          box-shadow: -1px -1px 2px #f9f9f9, -1px 0px 3px #f9f9f9, -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  background: #CF9FFF;
  color: #f9f9f9;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 5rem;
  color: #18171e;
}

.heading span {
  color: #CF9FFF;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 10%;
}

.header .logo {
  margin-right: auto;
  color: #18171e;
  font-size: 2.5rem;
}

.header .navbar a {
  color: #666;
  margin-right: 2rem;
  font-size: 2rem;
}

.header .navbar a:hover {
  color: #666;
  background: #CF9FFF;
  border-radius: 10px;
  padding: 10px;
}

.about .box {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .box:nth-child(2) {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding: 4rem 0;
}

.about .box .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .box .image img {
  width: 100%;
}

.about .box .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .box .content h3 {
  font-size: 4rem;
  color: #18171e;
}

.about .box .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1.5rem 0;
  line-height: 2;
}

.ourservices .allbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2.5rem;
}

.ourservices .box {
  -webkit-box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 2rem;
  background: #f9f9f9;
  border-radius: 1rem;
}

.ourservices .box img {
  height: 10rem;
  margin-bottom: 0.5rem;
}

.ourservices .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: #18171e;
}

.ourservices .box p {
  font-size: 1.5rem;
  color: #666;
  line-height: 2;
}

.ourwork .allbox {
  -webkit-columns: 3 25rem;
          columns: 3 25rem;
  gap: 2rem;
}

.ourwork .allbox img {
  margin-bottom: 2rem;
  width: 100%;
  border-radius: .5rem;
}

.ourclient .allbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2.5rem;
}

.ourclient .box .userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.ourclient .box .userinfo img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.ourclient .box .userinfo h3 {
  font-size: 2rem;
  color: #18171e;
  padding-bottom: .4rem;
}

.ourclient .box .userinfo .stars i {
  font-size: 1.6rem;
  color: #CF9FFF;
}

.ourclient .box .text {
  padding: 3rem;
  border-radius: 10rem;
  background: #f9f9f9;
  font-size: 1.5rem;
  color: #666;
  position: relative;
  margin-top: 4rem;
  line-height: 2;
  -webkit-box-shadow: -1px -1px 2px #f9f9f9, -1px 0px 3px #f9f9f9, -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
          box-shadow: -1px -1px 2px #f9f9f9, -1px 0px 3px #f9f9f9, -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
}

.ourclient .box .text::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: #f9f9f9;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: -1px -1px 2px #f9f9f9, -1px 0px 3px #f9f9f9, -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
          box-shadow: -1px -1px 2px #f9f9f9, -1px 0px 3px #f9f9f9, -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
}

.ourcontact .allicons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2.5rem;
}

.ourcontact .allicons .icons {
  padding: 2rem;
  border-radius: .5rem;
  border: 0.4rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  -webkit-box-shadow: -1px -1px 2px #f9f9f9, -1px 0px 3px #f9f9f9, -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
          box-shadow: -1px -1px 2px #f9f9f9, -1px 0px 3px #f9f9f9, -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
}

.ourcontact .allicons .icons i {
  font-size: 2.5rem;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border: 0.4rem solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.ourcontact .allicons .icons h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #18171e;
}

.ourcontact .allicons .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
}

.ournewsletter {
  background: #CF9FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ournewsletter .things {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.ournewsletter .things h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #f9f9f9;
  margin-bottom: .5rem;
}

.ournewsletter .things p {
  font-size: 2.2rem;
  color: #f9f9f9;
}

.ournewsletter form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  background: #f9f9f9;
  border-radius: 0.6rem;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: -1px -1px 2px #f9f9f9, -1px 0px 3px #f9f9f9, -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
          box-shadow: -1px -1px 2px #f9f9f9, -1px 0px 3px #f9f9f9, -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
}

.ournewsletter form .email {
  width: 100%;
  padding: 0 1.4rem;
  font-size: 1.6rem;
  text-transform: none;
}

.ournewsletter form .btn {
  margin-top: 0;
  background: #333;
  color: #f9f9f9;
}

.ournewsletter form .btn:hover {
  background: #CF9FFF;
}

.footer {
  background: #f9f9f9;
}

.footer .allbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2.5rem;
}

.footer .allbox .box h3 {
  font-size: 2.4rem;
  color: #18171e;
  padding: 1.2rem 0;
}

.footer .allbox .box p {
  font-size: 1.4rem;
  color: #666;
  padding: 1.2rem 0;
  line-height: 2;
}

.footer .allbox .box a {
  display: block;
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.footer .allbox .box a i {
  padding-right: .5rem;
  color: #CF9FFF;
}

.footer .allbox .box a:hover {
  color: #CF9FFF;
}

.footer .allbox .box a:hover i {
  padding-bottom: 2rem;
}

.footer .social {
  padding-top: 2rem;
  text-align: center;
}

.footer .social a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 30%;
  background: #18171e;
  color: #f9f9f9;
  margin: 0.4rem;
}

.footer .social a:hover {
  background: #666;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transform: translateX(-5px, -5px);
          transform: translateX(-5px, -5px);
}

/************************************************************************************************************/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #f9f9f9;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    display: block;
    margin: 2rem;
  }
  .ournewsletter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ournewsletter .things {
    text-align: center;
  }
  .ournewsletter .things h3 {
    font-size: 4rem;
  }
  .ournewsletter .things p {
    font-size: 1.8rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .allbox .box {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */